<a href="/home/index">목록</a><br><br>
<form action="/home/create" method="POST">
    제목 
    <input name="title"/><br>
    내용
    <input name="content"/><br>
    <input type="submit" value="제출">
</form>