<form action="/iamport/register" method="POST">
    <input name="card_num1" maxlength="4" type="password">-
    <input name="card_num2" maxlength="4" type="password">-
    <input name="card_num3" maxlength="4" type="password">-
    <input name="card_num4" maxlength="4" type="password"><br>
    생년월일 6자리 <input name="birthday" maxlength="6" type="password"></br>
    카드 유효기간 <input name="expiry_month" maxlength="2" type="password"> / <input name="expiry_year" maxlength="2" type="password"><br>
    비밀번호 앞 2자리 <input name="password" maxlength="2" type="password"><br>
    <input type="submit">
</form>